.faq-container {
    padding-top: 45px;
    background-color: #FAF3D1;
}

.faq-title {
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    padding-bottom: 180px;
}

.faq-list {

}

.faq-accordion-item {

}

.faq-accordion-button {

}

.faq-accordion-button-text {

}

.faq-accordion-content {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 300ms ease;
}

.faq-accordion-content.open {
    grid-template-rows: 1fr;
}

.faq-accordion-inner {
    min-height: 0;
    overflow: hidden;
}