body {
  background-color: var(--color-yellow-light);
}

.footer-wrapper {
  position: relative;
}

.footer-image {
  position: absolute;
  width: 300px;
  top: -150px;
  left: 92%;
  transform: translateX(-50%) rotate(-15deg);
  z-index: 1;
}

.footer {
  padding-top: 60px;
  border-radius: 50px 50px 0 0;
  background-color: var(--color-yellow-dark);
  color: var(--color-blue-medium);
  position: relative;
  z-index: 2;
}

.footer-content {
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  text-align: left;
  column-gap: 100px;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-column h3 {
  font-weight: 1000;
  margin: 0 0 20px;
}

.footer-column a {
  color: #062c54;
  text-decoration: none;
}

.footer-column a:hover {
  text-decoration: underline;
}

.footer-bottom {
  grid-column: 1 / -1;
  width: 90%;
  border-top: 1px solid white;
  margin: 40px auto 0;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.footer-bottom img {
  width: 45px;
  height: 45px;
  object-fit: contain;
}

.footer-bottom p {
  font-size: 14px;
  margin: 0;
}
