.profile-title-group {
    position: relative;
    width: fit-content;
    margin-left: 90px;
}

.profile-title-kaco {
    position: absolute;
    left: -31px;
    top: -7px;
    width: 150px;
    height: auto;
    z-index: 3;
    pointer-events: none;
}

.profile-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.profile-field {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    width: 300px;
    border-bottom: 3px solid var(--color-yellow-medium);
}

.profile-field input,
.profile-field select {
    font-size: 18px;
    padding: 0rem 0.15rem;
    width: 100%;
    box-sizing: border-box;
}